{% extends 'main.html' %}

{% block content %}
    {% load static %}
    <form method="get">
        <p>Постов на странице</p>
        <button name='8' class="btn btn-sm btn-primary">8</button>
        <button name='12' class="btn btn-sm btn-primary">12</button>
    </form>

    {% for post in posts %}
        <div>
        <br> 
        {% comment %} <div class="card mb-3"> {% endcomment %}
            <div class="row">
                <div class="col-4">
                    <a href="{{ post.get_absolute_url }}"><img src="{{ post.thumbnail.url }}" class="card-img-top" alt="{{ post.title }}"></a>
                    
                </div>
                <div class="col-8">
                    <div>
                        <img src="{{post.author.avatar.url}}" width=10% alt="">
                        <small><a href="{{post.author.get_absolute_url}}">{{ post.author.username }}</a>, {{ post.create }}</small>
                        <br>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">
                            <a href="{{ post.get_absolute_url }}">{{ post.title|safe }}</a>
                        </h5>
                        <p class="card-text">{{ post.description|safe }}</p>
                        
                        Категория: <a href="{{ post.category.get_absolute_url }}">{{ post.category.title }}</a>
                        <small style='margin-left:250px'> 👀: {{ post.correct_views }}</small>
                    </div>
                </div>
                <div class="rating-buttons">
                    <button class="btn btn-sm btn-primary" data-post="{{ post.id }}" data-value="1">Лайк</button>
                    <button class="btn btn-sm btn-secondary" data-post="{{ post.id }}" data-value="-1">Дизлайк
                    </button>
                    <button class="btn btn-sm btn-secondary rating-sum">{{ post.get_sum_rating }}</button>
                </div>
            </div>
        </div>
        <hr>
    {% endfor %}
    <script src="{% static 'ratings.js' %}"></script>
    {% block script %}{% endblock %}
{% endblock %}