{% extends 'main.html' %}

{% block content %}
    <form method="get">
        <p>Постов на странице</p>
        <button name='8' class="btn btn-sm btn-primary">8</button>
        <button name='12' class="btn btn-sm btn-primary">12</button>
    </form>

    {% for post in posts %}
        <div>
        <br> 
        {% comment %} <div class="card mb-3"> {% endcomment %}
            <div class="row">
                <div class="col-4">
                    <a href="{{ post.get_absolute_url }}"><img src="{{ post.thumbnail.url }}" class="card-img-top" alt="{{ post.title }}"></a>
                </div>
                <div class="col-8">
                    <div class="card-body">
                        <h5 class="card-title">
                            <a href="{{ post.get_absolute_url }}">{{ post.title|safe }}</a>
                        </h5>
                        <p class="card-text">{{ post.description|safe }}</p>
                        <small>Добавил <a href="{{post.author.get_absolute_url}}">{{ post.author.username }}</a>, {{ post.create }}</small>
                        <a href="{{ post.category.get_absolute_url }}">{{ post.category.title }}</a>
                        <small style='margin-left:40px'> 👀: {{ post.correct_views }}</small>
                    </div>
                </div>
            </div>
        </div>
        <hr>
    {% endfor %}
{% endblock %}